* {
    margin: 0;
    padding: 0;
}
body {
    
    background-color: #000;
}
h1 {
    color: #20C20E;
}

.loginlog-background {
    background-color: #1a1a1a;
    border-style: solid;
    border-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 50px;
}
.loginlog-form {
    top: 50%;
    left: 50%;
    width:300px;
    max-width: 300px;
   
}
.forgetpassword {
    font-size: 11px;
    font-style: normal;
    float: right;
    color: #000000;
    text-decoration: none;
    
}
a {
    text-decoration: none;
    
}
img {
    width: 240px; 
    height: 240px;
    position: relative;
    left: 35px;
}
.btn {
  position: relative;
  background-color: #000;
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  left:30px;    

}
.btn:hover {
  background-color: black;
  color: #20C20E;
  transition: all .7s;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}

input[type=text],
input[type=password], 
input[type=email],
input[type=tel]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: #000;
  color: #fff;
}
input[type=text]:focus,
input[type=password]:focus, 
input[type=email]:focus, 
input[type=tel]:focus {
    border:1px solid #20C20E;
    color: #20C20E;
    background-color: #000;
}

.myitalic {
    font-size: 12px;
}



.footer {
   
    padding: 5px;
    font-size: 12px;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    position: fixed;
	bottom: 0px;
	width: 100%;
    border-top: 1px  solid #20C20E;
    
}
.footer:hover {
    color: #20C20E;
}

    
}