* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.premiumicon {
    background-image: url("img/premium.png");
    background-size: cover;
    display: block;
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 10px;
}

.container {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    text-align: center;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price .header {
    background: rgb(131, 58, 180);
    background: -moz-linear-gradient(302deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(69, 252, 129, 1) 100%);
    background: -webkit-linear-gradient(302deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(69, 252, 129, 1) 100%);
    background: linear-gradient(302deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(69, 252, 129, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#833ab4", endColorstr="#45fc81", GradientType=1);
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #000;
    padding: 20px;
    text-align: center;
    background-color: #eee;
}

.price .headerdown {
    background-color: #eee;
    font-size: 20px;
}

.buybutton {
    position: relative;
    background-color: #000;
    color: white;
    font-size: 16px;
    padding: 16px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.buybutton:hover {
    background-color: black;
    color: #20C20E;
    transition: all .7s;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}

#buythis {
    background: rgb(238, 174, 202);
    background: -moz-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}

.modalPremium {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-contentPremium {
    position: relative;
    background-color: #1a1a1a;
    margin: auto;
    padding: 0;
    border: 3px solid #000;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-headerPremium {
    padding: 20px 16px;
    background: rgb(34, 193, 195);
    background: -moz-linear-gradient(229deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    background: -webkit-linear-gradient(229deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    background: linear-gradient(229deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3", endColorstr="#fdbb2d", GradientType=1);
    border-bottom: 3px solid #000;
    color: white;
}

.modal-bodyPremium {
    padding: 2px 16px;
}

.modal-headerPremium:hover {
    color: #000;
    cursor:pointer;
}

.buybuttonPremium {
    position: relative;
    background: rgb(131, 58, 180);
    background: -moz-linear-gradient(302deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(69, 252, 129, 1) 100%);
    background: -webkit-linear-gradient(302deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(69, 252, 129, 1) 100%);
    background: linear-gradient(302deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(69, 252, 129, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#833ab4", endColorstr="#45fc81", GradientType=1);
    color: white;
    font-size: 16px;
    padding: 16px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 10px 20px 40%;
}

.buybuttonPremium:hover {
    background-color: black;
    color: #20C20E;
    transition: all .7s;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}