<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>KayaBlog</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    
  </welcome-file-list>
  
   <servlet>
  <servlet-name>index</servlet-name>
   <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>index</servlet-name>
  <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>login</servlet-name>
  <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>login</servlet-name>
  <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>register</servlet-name>
  <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>register</servlet-name>
  <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>mainpage</servlet-name>
  <servlet-class>controller.Mainpage</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>mainpage</servlet-name>
  <url-pattern>/mainpage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>basictables</servlet-name>
  <servlet-class>controller.BasicTables</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>basictables</servlet-name>
  <url-pattern>/basictables</url-pattern>
  </servlet-mapping>
 
 <servlet>
  <servlet-name>useractivities</servlet-name>
  <servlet-class>controller.UserActivities</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>useractivities</servlet-name>
  <url-pattern>/useractivities</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>socialmediaservices</servlet-name>
  <servlet-class>controller.Socialmediaservices</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>socialmediaservices</servlet-name>
  <url-pattern>/socialmediaservices</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>emailservices</servlet-name>
  <servlet-class>controller.Emailservices</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>emailservices</servlet-name>
  <url-pattern>/emailservices</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>bankservices</servlet-name>
  <servlet-class>controller.BankServices</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>bankservices</servlet-name>
  <url-pattern>/bankservices</url-pattern>
  </servlet-mapping>
  
    <servlet>
  <servlet-name>telephonedirectory</servlet-name>
  <servlet-class>controller.Telephonedirectoryservices</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>telephonedirectory</servlet-name>
  <url-pattern>/telephonedirectory</url-pattern>
  </servlet-mapping>
  
</web-app>


