.main {
    background: #f8f8f8;
    padding: 150px 0;
}
.container {
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}
.account-content{
    padding: 75px 0;
}
.account-form {
    padding-left: 10px;
    padding-right: 10px;
}
.form-title {
    margin-bottom: 33px;
    margin-left: 1rem;
}
.form-group {
    position: relative;
    margin-left: 15px;
    margin-bottom: 18px;
    overflow: hidden;
}
.actions-td{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.actions-edit{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-right: 5px;
    font-size: 24px;
    color:#F5B041;
}
.actions-delete{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 24px;
    color:#CB4335;
}
.actions-eye{
    color: #0d0d0d;
    font-size: 24px;
    float: right;
}
.btn-add {
    height: 50px;
    border-radius: 6px;
    background-color: #05a9f5;
    color: white;
    float: right;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-family: "Barlow", sans-serif;
    padding: 0 30px;
    margin-right: 1rem;
    position: relative;
    display: flex;
    cursor: pointer;
    border: 0;
    margin-top: 40px;
}
@media screen and (max-width: 511px) {
    .btn-add {
        margin-top: 5px;
    }
}
.btn-add span {
    z-index: 1;
    display: block;
}
.btn-add:after {
    content: "";
    position: absolute;
    height: 3px;
    width: calc(100% - 6px);
    border-radius: 4px;
    background-color: #1c1c1e;
    bottom: 3px;
    left: 3px;
    transition: all 0.4s ease;
    opacity: 0.8;
}
.btn-add:hover:after {
    height: calc(100% - 6px);
}
.btn-add:focus {
    outline: 0;
}
.btn-refresh {
    height: 50px;
    border-radius: 6px;
    background-color: #23950f;
    color: white;
    float: right;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-family: "Barlow", sans-serif;
    padding: 0 30px;
    margin-right: 1rem;
    position: relative;
    display: flex;
    cursor: pointer;
    border: 0;
    margin-top: 40px;
}
@media screen and (max-width: 511px) {
    .btn-refresh {
        margin-top: 5px;
    }
}
.btn-refresh span {
    z-index: 1;
    display: block;
}
.btn-refresh:after {
    content: "";
    position: absolute;
    height: 3px;
    width: calc(100% - 6px);
    border-radius: 4px;
    background-color: #1c1c1e;
    bottom: 3px;
    left: 3px;
    transition: all 0.4s ease;
    opacity: 0.8;
}
.btn-refresh:hover:after {
    height: calc(100% - 6px);
}
.btn-refresh:focus {
    outline: 0;
}
@-webkit-keyframes float {
    0% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
    50% {
        transform: translatey(-30px);
        transform: translatex(20px);
    }
    100% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
}
@-moz-keyframes float {
    0% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
    50% {
        transform: translatey(-30px);
        transform: translatex(20px);
    }
    100% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
}
@-o-keyframes float {
    0% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
    50% {
        transform: translatey(-30px);
        transform: translatex(20px);
    }
    100% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
}
@keyframes float {
    0% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
    50% {
        transform: translatey(-30px);
        transform: translatex(20px);
    }
    100% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
}
.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    -moz-transform: translate(-50%, -50%) scale(0.9);
    -ms-transform: translate(-50%, -50%) scale(0.9);
    -o-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9);
    overflow-y: auto;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
    display: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}
@media (min-width: 768px) {
    .pop-up {
        width: calc(100% - 40px);
        height: auto;
        max-width: 900px;
    }
}
.pop-up .contentx {
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    text-align: center;
    position: relative;
    min-height: 100vh;
}
@media (min-width: 768px) {
    .pop-up .contentx {
        min-height: inherit;
    }
}
.pop-up .contentx .containerx {
    padding: 100px 20px 140px;
}
@media (min-width: 568px) {
    .pop-up .contentx .containerx {
        padding: 50px 20px 80px;
    }
}
@media (min-width: 768px) {
    .pop-up .contentx .containerx {
        padding: 70px 0px 90px;
        max-width: 520px;
        margin: 0 auto;
    }
}
.pop-up .contentx .closex {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    color: #3e4146;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.pop-up .contentx .closex:hover {
    cursor: pointer;
    color: #f66867;
}
.pop-up .contentx .dots .dot {
    position: absolute;
    border-radius: 100%;
    z-index: 11;
}
.pop-up .contentx .dots .dot:nth-of-type(1) {
    top: -80px;
    right: -80px;
    width: 160px;
    height: 160px;
    background-color: #689bf6;
    -webkit-animation: float 6s ease-in-out infinite;
    -moz-animation: float 6s ease-in-out infinite;
    -o-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
}
@media (min-width: 768px) {
    .pop-up .contentx .dots .dot:nth-of-type(1) {
        top: -190px;
        right: -190px;
        width: 380px;
        height: 380px;
    }
}
.pop-up .contentx .dots .dot:nth-of-type(2) {
    bottom: -120px;
    left: -120px;
    width: 240px;
    height: 240px;
    background-color: #f66867;
    -webkit-animation: float 8s ease-in-out infinite;
    -moz-animation: float 8s ease-in-out infinite;
    -o-animation: float 8s ease-in-out infinite;
    animation: float 8s ease-in-out infinite;
}
.pop-up .contentx .dots .dot:nth-of-type(3) {
    bottom: -50px;
    right: -50px;
    width: 100px;
    height: 100px;
    background-color: #ffd84c;
    -webkit-animation: float 4s ease-in-out infinite;
    -moz-animation: float 4s ease-in-out infinite;
    -o-animation: float 4s ease-in-out infinite;
    animation: float 4s ease-in-out infinite;
}
.pop-up .contentx .title h1 {
    text-align: center;
    color: #f66867;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.8rem;
    letter-spacing: 0.05rem;
}
.pop-up .contentx img {
    width: 100%;
    max-width: 220px;
    display: inline-block;
    margin: 30px 0 40px 0;
    opacity: 0;
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -o-transform: translateX(60px);
    transform: translateX(60px);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-backface-visibility: hidden;
}
@media (min-width: 768px) {
    .pop-up .contentx img {
        max-width: 300px;
    }
}
.pop-up .contentx .subscribe h1 {
    font-size: 1.5rem;
    color: #3e4146;
    line-height: 130%;
    letter-spacing: 0.07rem;
    margin-bottom: 30px;
}
.pop-up .contentx .subscribe h1 span {
    color: #f66867;
}
.pop-up .contentx .subscribe form {
    overflow: hidden;
}
.pop-up .contentx .subscribe form input {
    width: 100%;
    float: left;
    padding: 15px 20px;
    text-align: center;
    font-family: inherit;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    outline: 0;
}
.pop-up .contentx .subscribe form input[type=email] {
    margin-bottom: 15px;
    border: 1px solid #bec1c5;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
@media (min-width: 768px) {
    .pop-up .contentx .subscribe form input[type=email] {
        margin-bottom: 5px;
        text-align: left;
    }
}
.pop-up .contentx .subscribe form input[type=email]:focus {
     border-color: #3e4146;
 }
.pop-up .contentx .subscribe form input[type=number] {
    margin-bottom: 15px;
    border: 1px solid #bec1c5;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
@media (min-width: 768px) {
    .pop-up .contentx .subscribe form input[type=number] {
        margin-bottom: 5px;
        text-align: left;
    }
}
.pop-up .contentx .subscribe form input[type=number]:focus {
    border-color: #3e4146;
}
.pop-up .contentx .subscribe form input[type=text] {
    margin-bottom: 15px;
    border: 1px solid #bec1c5;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
@media (min-width: 768px) {
    .pop-up .contentx .subscribe form input[type=text] {
        margin-bottom: 5px;
        text-align: left;
    }
}
.pop-up .contentx .subscribe form input[type=text]:focus {
    border-color: #3e4146;
}
.pop-up .contentx .subscribe form input[type=password] {
    margin-bottom: 15px;
    border: 1px solid #bec1c5;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
@media (min-width: 768px) {
    .pop-up .contentx .subscribe form input[type=password] {
        margin-bottom: 5px;
        text-align: left;
    }
}
.pop-up .contentx .subscribe form input[type=password]:focus {
    border-color: #3e4146;
}
.pop-up .contentx .subscribe form input[type=submit] {
    background-color: #8e6ac1;
    color: #ffffff;
    border: 1px solid #8e6ac1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
@media (min-width: 768px) {
    .pop-up .contentx .subscribe form input[type=submit] {
        width: 100%;
        margin-top: 10px;
        border-radius: 30px;
    }
}
.pop-up .contentx .subscribe form input[type=submit]:hover {
    cursor: pointer;
    background-color: #7349af;
    border-color: #7349af;
}
.pop-up.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}
.pop-up.open img {
    opacity: 1;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}